.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 2rem;
}

.header h1 {
  margin: 0;
  padding: 0;
}

.header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.header nav ul li {
  margin-left: 1rem;
  padding: 0 1rem;
  border-left: solid 0.1rem grey;
  transition: 0.5s;
}

.header a {
  color: black;
  text-decoration: none;
}

.header li:hover {
  cursor: pointer;
  transform: scale(1.1);
}